@import "variables";


svg#rotate-360-chart {
  height: 100%;
  width: 100%;

  text {
    font-family: 'Open Sans', sans-serif;
  }

  .chart-axis-delimiter {
    fill: transparent;
    stroke: $eb-grey;
    transition: opacity .4s ease;
  }

  .chart-axis-text-period,
  .chart-axis-text,
  .chart-axis-text-details {
    text-anchor: middle;
  }

  .chart-axis-text-period {
    font-size: 0.95em;
  }

  .chart-axis-text {
    font-size: 0.9em;
  }

  .chart-axis-text-details {
    font-size: 0.85em;
  }

  .serie {
    fill: $eb-grey;
    transition: opacity, fill .8s ease;
  }

  .serie--query {
    fill: $eb-orange;
  }

  .serie--click {
    fill: $eb-green;
  }

  .serie--add2cart {
    fill: $eb-blue;
  }

}
