// bower:scss
// endbower

@import "variables";

body {
  margin: 0;
  padding: 0;
}


#nextqueries-chartcontainer {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 800px;

  text {
    font-family: 'Open Sans', sans-serif;
  }

  .chart {

    .queryserie {

      &.querynotselected {
        .queryserieitem {
          opacity: 0.3 !important;
        }
        .queryserietext {
          opacity: 0.3 !important;
        }
      }

      .queryserieitem {
        cursor: pointer;

        &.initialquery {
          fill: $eb-orange;
        }

        &.nextquery {
          fill: $eb-red;
        }

      }

      .queryserietext {
        cursor: pointer;
        fill: $eb-black;

        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none; /* IE10+ */

        &.initialquery {
          text-anchor: end;
        }

        &.nextquery {
          text-anchor: start;
        }

      }

      &.over,
      &.clicked {
        .queryserieitem {
          opacity: 1 !important;
        }
      }

    }

    .relationserie {

      .relationserieitem {
        cursor: pointer;
        opacity: 0.1;
        transition: opacity 0.4s ease;
      }

      &.over {
        .relationserieitem {
          opacity: 0.2;
        }
      }

      &.clicked {
        .relationserieitem {
          opacity: 0.5;
        }
      }

    }

  }

}
