* {
  font-family: 'Montserrat'
}
.container {
  width: 80%;
  max-width: rem(1540px);
  margin: auto;
}

.small-container {
  width: 60%;
  max-width: rem(1155px);
  margin: auto;
}
.text-centered {
  text-align: center;
}

h1 {
  font-size: rem(73px);
}
h2,
h3 {
  font-size: rem(50px);
}
h4,
h5,
h6 {
  font-size: rem(35px);
}

p,
ul li,
ol li {
  font-size: rem(22px);
}
@media screen and (max-width: $breakpoint__desktop--max) {
  h1 {
    font-size: rem(60px);
  }
  h2,
  h3 {
    font-size: rem(36px);
  }
  h4,
  h5,
  h6 {
    font-size: rem(25px);
  }
}
@media screen and (max-width: $breakpoint__mobile--max) {
  .container {
    width: 85%;
  }
  .small-container {
    width: 80%;
  }
  h1 {
    font-size: rem(32px);
  }
  h2,
  h3 {
    font-size: rem(25px);
  }
  h4,
  h5,
  h6 {
    font-size: rem(22px);
  }
  p,
  ul li,
  ol li {
    font-size: rem(18px);
  }
}
