* {
  font-family: $font-family
}
.container {
  width: 80%;
  max-width: rem(1540px);
  margin: auto;
}

.small-container {
  width: 60%;
  max-width: rem(1155px);
  margin: auto;
}
.text-centered {
  text-align: center;
}
.page-title {
  margin-top: 3rem;
  font-weight: $font-weight--light;
  line-height: 1.22;
  text-align: center;
  color: $grey-medium;
  margin-bottom: rem(75px);
  word-break: break-word;
}

.tooltip {
  position: relative;
  &:hover {
    &:before,
    &:after {
      display: block;
      opacity: 1;
    }
    &:before {
      transform: rotate(45deg) translate(0, 0);
      transition: all $transitions-duration--short ease
      $transitions-duration;
    }
    &:after {
      transform: scale(1);
      transition: all $transitions-duration
      cubic-bezier(0.84, -0.18, 0.31, 1.26),
      opacity $transitions-duration ease;
    }
  }
  &:before {
    position: absolute;
    bottom: rem(38px);
    content: '';
    width: rem(15px);
    height: rem(15px);
    margin-left: rem(52px);
    opacity: 0;
    background-color: $corporative-blue;
    transform: rotate(45deg) translate(-1rem, -1rem);
    transform-origin: bottom;
    transition: all $transitions-duration--short ease,
    opacity 0s ease $transitions-duration--short;
  }
  &:after {
    position: absolute;
    bottom: rem(40px);
    left: rem(-32px);
    content: attr(data-tip);
    width: rem(200px);
    padding: rem(20px) rem(25px);
    opacity: 0;
    color: white;
    background-color: $corporative-blue;
    font-size: $font-size--caption;
    line-height: 1.6;
    border-radius: rem(20px);
    transform: scale(0);
    transform-origin: bottom;
    transition: all $transitions-duration
    cubic-bezier(0.84, -0.18, 0.31, 1.26) $transitions-duration--short,
    opacity $transitions-duration ease $transitions-duration--short;
  }
}

h1 {
  font-size: $font-size--huge;
}
h2,
h3 {
  font-size: $font-size--large;
}
h4,
h5,
h6 {
  font-size: $font-size--big;
}

p,
ul li,
ol li {
  font-size: $font-size--regular;
}
@media screen and (max-width: $breakpoint__desktop--max) {
  h1 {
    font-size: $font-size--extra-large;
  }
  h2,
  h3 {
    font-size: $font-size--big;
  }
  h4,
  h5,
  h6 {
    font-size: $font-size--regular-big;
  }
}
@media screen and (max-width: $breakpoint__tablet--max) {
  .page-title {
    margin-top: 0;
  }
  .tooltip {
    &:before {
      bottom: rem(27px);
    }
    &:after {
      bottom: rem(32px);
    }
  }
  h1 {
    font-size: $font-size--large;
  }
}
@media screen and (max-width: $breakpoint__mobile--max) {
  .container {
    width: 85%;
  }
  .small-container {
    width: 80%;
  }
  h1 {
    font-size: $font-size--big;
  }
  h2,
  h3 {
    font-size: $font-size--regular-big;
  }
  h4,
  h5,
  h6 {
    font-size: $font-size--regular;
  }
  p,
  ul li,
  ol li {
    font-size: $font-size--small;
  }
}
