* {
  font-family: 'Montserrat'
}
img,
video {
  width: 70%;
  margin: auto;
  padding: 1rem 0;
}
h2,
h3 {
  color: #243d48;
  font-size: 50px;
  font-weight: 300;
  padding: 40px 0 30px;
}
p,
ul li,
ol li {
  font-family: 'Lora', serif;
  font-size: 22px;
  line-height: 1.83;
  color: #747474;
  a {
    color: #2894bd;
    font-weight: bold;
  }
}
p {
  padding-bottom: 40px;
}
ul {
  padding-left: 0;
  padding-bottom: 20px;
  li {
    padding-bottom: 20px;
  }
}
iframe {
  margin-bottom: 40px;

  width: 100%;
  min-height: 450px;
}
figure {
  text-align: center;
  figcaption {
    background: rgba(83, 185, 201, 0.18);
    padding: 24px 20px;
    font-size: 14px;
    line-height: 1.9;
    font-family: Lora;
    color: #163046;
    text-align: center;
  }
  &.figcaption--align-left,
  &.figcaption--align-right {
    text-align: left;
    display: flex;
  }
  &.figcaption--align-left {
    flex-direction: row-reverse;
  }
}
.carousel {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #747474;
  margin-top: 1rem;
  img {
   width: 140px;
  }
}
