$color--dark-grey-blue: #243d48;
$color--darkish-pink: #d44a6f;
$color--dark-peach: #e67962;
$color--light-mustard: #fdcb5b;
$color--pale-teal: #80c0a1;
$color--greyblue: #53b9c9;
$color--teal-blue: #0086b2;
$color--dusty-purple: #8b6391;
$color--grey: #a6b0b5;

$grey-color: #4f656e !default;
$grey-color--light: #929fa5 !default;
$grey-color--extra-light: #e2e6e7 !default;
