$corporative-yellow: #fdcb5b;
$corporative-pink: #d44a6f;
$corporative-purple: #8b6391;
$corporative-blue: #0086b2;
$corporative-light-blue: #53b9c9;
$corporative-green: #80c0a1;

$grey-light: #a0a7ab;
$grey-medium: #6d7278;
$grey-dark: #243d48;
