$font-size--tiny: rem(10px) !default;
$font-size--extra-small: rem(18px) !default;
$font-size--small: rem(22px) !default;
$font-size--regular: rem(24px) !default;
$font-size--big: rem(35px) !default;
$font-size--large: rem(50px) !default;
$font-size--extra-large: rem(60px) !default;
$font-size--huge: rem(73px) !default;

$font-family: 'Montserrat', sans-serif !default;

$font-weight--light: 300 !default;
$font-weight--semibold: 600 !default;
$font-weight--bold: 700 !default;
