$font-size--tiny: rem(10px) !default;
$font-size--extra-small: rem(12px) !default;
$font-size--small: rem(14px) !default;
$font-size--regular: rem(16px) !default;
$font-size--large: rem(18px) !default;
$font-size--extra-large: rem(30px) !default;
$font-size--huge: rem(40px) !default;

$font-family: 'Montserrat', sans-serif !default;

$font-weight--primary-light: 300 !default;
$font-weight--primary-medium: 500 !default;
$font-weight--primary-semibold: 600 !default;
$font-weight--primary-bold: 700 !default;
